.box {
  margin: 0;
  width: 640px;
  max-height: 686px;
  overflow-y: auto;
	overflow-x: hidden;
  box-sizing: border-box;
}

.box_orders {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.box_list {
  width: 280px;
}

.orders_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.status_ready {
  color: #00cccc;
}
