.wrapper {
  width: 100vw;
  height: calc(100vh -100px);
}

.container {
  margin: 0;
  padding: 100px 0;
  display: flex;
  height: 100%;
}

.title {
  color: #2f2f37;
}

.content {
  margin: auto;
  text-align: center;
}

.link {
  color: #8585ad;
}
