.wrapper {
  width: 100vw;
  height: calc(100vh -88px);
  margin: 0;
  padding-top: 180px;
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.form {
  width: 480px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}

.box {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.title {
  width: 100%;
  text-align: center;
}

.text {
  color: #8585ad;
  text-align: center;
}

.link {
  color: #4c4cff;
}
